
/*Head banner*/
header {
	font-size: 80px;
	padding-bottom: 10px;
	font-weight: bold;
	font-family: 'Roboto', sans-serif;
	color: #c2c2c2;
}

/*FRIENDS section*/
body {
	font-family: 'Lato', sans-serif;
	color: #c2c2c2;
	background-color: #202022;
}
.quote1 {
	text-align: center;
	padding-top: 10px;
	margin: 1px;
}
.sec1 {
	text-align: center;
	padding-bottom: 10px;
}
a.fri1:link {
	text-decoration: none;
	color: white;
}
a.fri1:visited {
	color: white;
}
a.fri1:hover {
	color: white;
}
a.headli:link {
	padding-right: 7px;
	padding-left: 3px;
	font-size: 20px;
	color: #c2c2c2;
	text-decoration: none;
}
a.headli:visited {
	color: #c2c2c2;
}
a.headli:hover {
	font-size: 20px;
	color: white;
}
#search {
	padding-left: 10px;
}

/*Image and advertising section*/
.bodtxt {
	font-family: 'Raleway', sans-serif;
	color: #c2c2c2;
}
.list1 {
	padding-top: 10px;
	list-style-type: none;
	text-align: center;
	color: white;
}
.list1 li {
	display: inline;
	margin: 0px 230px 0px 170px;
}
#cont1 {
	position: relative;
	display: table;
	text-align: justify;
	padding-top: 10px;
	padding-bottom: 20px;
	padding-left: 17.48%;
	height: 80%;
	width: 75%;
}
#p1 {
  	height: 500px;
  	width: 320px;
  	margin: 0px 132px 30px 0px;
}
#cont2 {
	position: relative;
	display: block;
	text-align: center;
	margin: auto;
}
#p2 {
	text-align: center;
	height: 65.1%;
	width: 65.1%;
	margin: 20px 0px 0px 0px;
}

/*Footer*/
footer {

}
a.footli:link {
	padding-right: 7px;
	padding-left: 3px;
	padding-top: 8px;
	font-size: 15px;
	color: #c2c2c2;
	text-decoration: none;
}
a.footli:visited {
	color: #c2c2c2;
}
a.footli:hover {
	font-size: 15px;
	color: white;
}
.list2 {
	padding-left: 17.3%;
	list-style-type: none;
}